.x-checkbox {
    display: inline-block;
	vertical-align: middle;
	border: 0.01rem solid var(--x-gray-500);
	padding: 0.3rem;
	border-radius: 0.15rem;
    width: 1rem;
    height: 1rem;
    margin: auto 0.5rem;
}

/* .x-checkbox.x-checkbox-primary {
	color: var(--x-body-bg);	
}

.x-checkbox.x-checkbox-primary:hover {
	background-color: pink;
    border-color: grey;
}

.x-checkbox.x-checkbox-primary:checked {
	background-color: #198754;
    border-color: grey;
} */

.x-checkbox-container {
	display: flex;
	flex-direction: row;
	align-items: center;
}