.xi {
    vertical-align: middle;
    display: inline-flex;
    padding: 0.25rem;
    border: 0;
    color: var(--x-body-color);
    background: transparent;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.5;
    filter: var(--x-body-color);
    width: 1rem;
    height: 1rem;
    background-size: 1rem 1rem;
}

.xi:hover {
    opacity: 0.75;
}

.xi:active {
    opacity: 1;
}

.xi:disabled {
    opacity: 0.25;
}

.xi-size-075 {
    zoom: .75
}

.xi-size-125 {
    zoom: 1.25;
}

.xi-size-150 {
    zoom: 1.5;
}

.xi-size-x2 {
    zoom: 2;
}

.xi-size-x3 {
    zoom: 3;
}

.xi-size-x4 {
    zoom: 4;
}

.xi-size-x5 {
    zoom: 5;
}

.x-filter-green {
    filter: invert(48%) sepia(79%) saturate(2476%) hue-rotate(86deg) brightness(118%) contrast(119%);
}

.xi.xi-close {
    background-image: url("../../assets/content/icon/close.svg");
}

.xi.xi-search {
    background-image: url("../../assets/content/icon/search.svg");
}

.xi.xi-dropdown {
    background-image: url('../../assets/content/icon/chevron-down.svg');
}

.xi.xi-reload {
    background-image: url('../../assets/content/icon/arrow-clockwise.svg');
}