.x-label {
    font-size: 1rem;
    font-weight: 600;
    display: block;
}

.x-label.x-label-title {
    justify-self: center;
    justify-content: center;
    font-size: 1rem;
    font-weight: 500;
    display: block;
}

.x-label.x-label-radio {
    font-size: 1rem;
    display: flex;
    align-items: center;
    font-weight: 500;
}

.x-label.x-label-checkbox {
    font-size: 1rem;
    display: flex;
    align-items: center;
    font-weight: 500;
}

.x-label-error {
    font-size: 10px;
    color: var(--x-danger);
}

.x-label-success {
    font-size: 10px;
    color: var(--x-success);
}