.x-modal {
    display: none;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    color: #212529;
    background: rgba(0, 0, 0, 0.4);
    z-index: 98;
}

.x-modal.show {
    display: block;
}

.x-modal-dialog {
    display: block;
    position: relative;
    width: auto;
    margin: 1.75rem auto;
    z-index: 100;
    box-sizing: border-box;
    max-width: 500px;
}

.x-modal-content {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
    background-color: var(--x-body-bg);
    color: var(--x-body-color);
    background-clip: padding-box;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: .3rem;
    outline: 0;
    box-sizing: border-box;
}

.x-modal-header {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 1rem;
    border-bottom: 1px solid var(--x-border-color);
    border-top-left-radius: calc(.3rem - 1px);
    border-top-right-radius: calc(.3rem - 1px);
}

.x-modal-header .x-modal-title {
    font-size: 1.5rem;
    font-weight: 700;
}

.x-modal-header .x-btn-close {
    padding: .5rem .5rem;
    margin: -.5rem -.5rem -.5rem auto;
}

.x-modal-body {
    position: relative;
    flex: 1 1 auto;
    padding: 1rem;
    max-height: calc(100vh - 190px);
    overflow: auto;
    box-sizing: border-box;
}

.x-modal-footer {
    display: flex;
    flex-wrap: wrap;
    flex-shrink: 0;
    align-items: center;
    justify-content: flex-end;
    padding: .75rem;
    border-top: 1px solid var(--x-border-color);
    border-bottom-right-radius: calc(.3rem - 1px);
    border-bottom-left-radius: calc(.3rem - 1px);
    box-sizing: border-box;
}

.x-modal-footer > * {
    margin: 0.25rem;
}