.justify-content-between {
    justify-content: space-between;
}

.justify-content-around {
    justify-content: space-around;
}

.justify-content-evenly {
    justify-content: space-evenly;
}

.justify-content-center {
    justify-content: center;
}

.justify-content-start {
    justify-content: flex-start;
}

.justify-content-end {
    justify-content: flex-end;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
}

.m-auto {
    margin: auto;
}

.m-0 {
    margin: 0;
}

.p-auto {
    padding: auto;
}

.p-0 {
    padding: 0;
}

.p-1 {
    padding: 0.25rem;
}

.pl-1 {
    padding-left: 0.25rem;
}

.pt-1 {
    padding-top: 0.25rem;
}

.pt-1 {
    padding-bottom: 0.25rem;
}

.pr-1 {
    padding-right: 0.25rem;
}