:root {
    --x-blue: #0d6efd;
    --x-indigo: #6610f2;
    --x-purple: #6f42c1;
    --x-pink: #d63384;
    --x-red: #dc3545;
    --x-orange: #fd7e14;
    --x-yellow: #ffc107;
    --x-green: #198754;
    --x-teal: #20c997;
    --x-cyan: #0dcaf0;
    --x-white: var(--x-gray-200);
    --x-gray: #6c757d;
    --x-gray-dark: #343a40;
    --x-gray-100: #f8f9fa;
    --x-gray-200: #e9ecef;
    --x-gray-300: #dee2e6;
    --x-gray-400: #ced4da;
    --x-gray-500: #adb5bd;
    --x-gray-600: #6c757d;
    --x-gray-700: #495057;
    --x-gray-800: #343a40;
    --x-gray-900: #212529;
    --x-primary: #0d6efd;
    --x-secondary: #6c757d;
    --x-success: #198754;
    --x-info: #0dcaf0;
    --x-warning: #ffc107;
    --x-danger: #dc3545;
    --x-light: #f8f9fa;
    --x-dark: #212529;
    --x-primary-rgb: 13, 110, 253;
    --x-secondary-rgb: 108, 117, 125;
    --x-success-rgb: 25, 135, 84;
    --x-info-rgb: 13, 202, 240;
    --x-warning-rgb: 255, 193, 7;
    --x-danger-rgb: 220, 53, 69;
    --x-light-rgb: 248, 249, 250;
    --x-dark-rgb: 33, 37, 41;
    --x-white-rgb: 255, 255, 255;
    --x-black-rgb: 0, 0, 0;
    --x-body-color-rgb: 33, 37, 41;
    --x-body-bg-rgb: 255, 255, 255;
    --x-font-family: "NotoSans";
    --x-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
    --x-body-font-family: var(--x-font-family);
    --x-body-font-size: 1rem;
    --x-body-font-weight: 400;
    --x-body-line-height: 1.5;
    --x-body-color: var(--x-gray-900);
    --x-body-bg: var(--x-gray-200);
    --x-border-color: var(--x-gray-500);
    --x-navbar-width: 225px;
}