.x-btn {
    display: inline-block;
    padding: 0.375rem 0.75rem;
    cursor: pointer;
    font-size: 1rem;
    border-radius: 0.25rem;
    border: 1px solid transparent;
    box-sizing: border-box;
    font-weight: 400;
    line-height: 1.2;
}

.x-btn.x-btn-primary {
    color: #fff;
    background-color: #0d6efd;
    border-color: #0d6efd;
}

.x-btn.x-btn-primary:hover {
    color: #fff;
    background-color: #0b5ed7;
    border-color: #0a58ca;
}

.x-btn.x-btn-secondary {
    color: #fff;
    background-color: #6c757d;
    border-color: #6c757d;
}

.x-btn.x-btn-secondary:hover {
    color: #fff;
    background-color: #5c636a;
    border-color: #565e64;
}

.x-btn.x-btn-success {
    color: #fff;
    background-color: #198754;
    border-color: #198754;
}

.x-btn.x-btn-success:hover {
    color: #fff;
    background-color: #157347;
    border-color: #146c43;
}

.x-btn.x-btn-danger {
    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545;
}

.x-btn.x-btn-danger:hover {
    color: #fff;
    background-color: #bb2d3b;
    border-color: #b02a37;
}

.x-btn.x-btn-warning {
    color: #000;
    background-color: #ffc107;
    border-color: #ffc107;
}

.x-btn.x-btn-warning:hover {
    color: #000;
    background-color: #ffca2c;
    border-color: #ffc720;
}

.x-btn.x-btn-info {
    color: #000;
    background-color: #0dcaf0;
    border-color: #0dcaf0;
}

.x-btn.x-btn-info:hover {
    color: #000;
    background-color: #31d2f2;
    border-color: #25cff2;
}

.x-btn.x-btn-light {
    color: #000;
    background-color: #f8f9fa;
    border-color: #f8f9fa;
}

.x-btn.x-btn-light:hover {
    color: #000;
    background-color: #f9fafb;
    border-color: #f9fafb;
}

.x-btn.x-btn-dark {
    color: #fff;
    background-color: #212529;
    border-color: #212529;
}

.x-btn.x-btn-dark:hover {
    color: #fff;
    background-color: #1c1f23;
    border-color: #1a1e21;
}

.x-btn.x-btn-link {
    font-weight: 400;
    color: #0d6efd;
    text-decoration: underline;
}

.x-btn.x-btn-link:hover {
    color: #0a58ca;
}

.x-btn-close {
    width: 1.5rem;
    height: 1.5rem;
    padding: 0.25rem;
    color: var(--x-body-color);
    background: transparent;
    border: 0;
    opacity: 0.5;
    box-sizing: content-box;
    border-radius: 0.25rem;
}

.x-btn-close > *{
    height: 1.5rem;
    width: 1.5rem;
    font-size: 1.5rem;
    padding: auto;
}

.x-btn-close:hover {
    opacity: 0.75;
}

.x-btn-close:focus {
    opacity: 1;
}

.x-btn-close:disabled {
    opacity: 0.25;
}