.x-icon {
    vertical-align: middle;
    display: inline-flex;
    padding: 0.25rem;
    border: 0;
    color: var(--x-body-color);
    background: transparent;
    background-repeat: no-repeat;
    background-position: center;
    width: 1rem;
    height: 1rem;
    background-size: 1rem 1rem;
    opacity: 0.5;
    filter:var(--x-body-color);
}

.x-icon:hover {
    opacity: 0.75;
}

.x-icon:focus {
    opacity: 1;
}

.x-icon:disabled {
    opacity: 0.25;
}

.x-icon-size-075 {
    width: 0.75rem;
    height: 0.75rem;
    background-size: 0.75rem 0.75rem;
}

.x-icon-size-125 {
    width: 1.25rem;
    height: 1.25rem;
    background-size: 1.25rem 1.25rem;
}

.x-icon-size-150 {
    width: 1.5rem;
    height: 1.5rem;
    background-size: 1.5rem 1.5rem;
}

.x-icon-size-x2 {
    width: 2rem;
    height: 2rem;
    background-size: 2rem 2rem;
}

.x-icon-size-x3 {
    width: 3rem;
    height: 3rem;
    background-size: 3rem 3rem;
}

.x-icon-size-x4 {
    width: 4rem;
    height: 4rem;
    background-size: 4rem 4rem;
}

.x-icon-size-x5 {
    width: 5rem;
    height: 5rem;
    background-size: 5rem 5rem;
}

.x-filter-green {
    filter: invert(48%) sepia(79%) saturate(2476%) hue-rotate(86deg) brightness(118%) contrast(119%);
}

.x-icon.x-icon-close {
    background-image: url("../../content/icon/close.svg");
}

.x-icon.x-icon-search{
    background-image: url("../../content/icon/search.svg");
}