.x-table {
    --x-background-on-hover: #565e64;
    width: 100%;
    margin-bottom: 1rem;
    color: var(--x-body-color);
    box-sizing: border-box;
    border-spacing: 0;
    overflow: auto;
}

.x-table thead tr {
    border-top: 2px solid var(--x-body-color);
    border-bottom: 2px solid var(--x-body-color);
}

.x-table thead tr > th {
    padding: 0.5rem;
    border-bottom: 2px solid var(--x-body-color);
    position: sticky;
    top: 0px;
    background-color: var(--x-body-bg);
}

.x-table thead tr > th:not(:first-child) {
    border-left: 1px solid var(--x-body-color);
}

.x-table tbody tr > td {
    padding: 0rem 0.5rem;
    border-left: 1px dotted var(--x-body-color);
    border-bottom: 1px solid var(--x-body-color);
}

.x-table tbody tr > td:first-child {
    border-left: none;
}

.x-table tbody tr:hover > td {
    opacity: 0.75;
    background-color: var(--x-background-on-hover);
}