/* Import root */
@import url('./common/root.css');

/* Import component */
@import url('./component/button.css');
@import url('./component/checkbox.css');
@import url('./component/icon.css');
@import url('./component/input.css');
@import url('./component/label.css');
@import url('./component/modal.css');
@import url('./component/radio.css');
@import url('./component/select.css');
@import url('./component/spinner.css');
@import url('./component/table.css');

/* Import layout */
@import url('./layout/grid.css');

/* Import common */
@import url('./common/common.css');

/* Import font-awesome */
@import url('../content/font/fontawesome-free-6.0.0-beta3-web/css/all.min.css');

@font-face {
    font-family: NotoSans;
    src: url('../content/font/NotoSans-Regular.ttf');
}

@font-face {
    font-family: NotoSans-Italic;
    src: url('../content/font/NotoSans-Italic.ttf');
}

@font-face {
    font-family: NotoSans-Bold;
    src: url('../content/font/NotoSans-Bold.ttf');
}

@font-face {
    font-family: NotoSans-BoldItalic;
    src: url('../content/font/NotoSans-BoldItalic.ttf');
}

body {
    font-family: NotoSans;
    margin: 0px;
    font-size: var(--x-body-font-size);
    font-weight: var(--x-body-font-weight);
    line-height: var(--x-body-line-height);
    color: var(--x-body-color);
    background-color: var(--x-body-bg);
}