.x-content {
    background-color: var(--x-body-bg);
    height: calc(100vh - 48px);
    float: right;
    width: calc(100% - 225px);
    box-sizing: border-box;
    border-left: 1px solid var(--x-secondary);
    padding: 16px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.x-content .x-headbar {
    display: flex;
    height: 48px;
    align-items: center;
    justify-content: space-between;
}

.x-content .x-headbar .x-headbar-title {
    font-size: 27px;
    color: var(--x-body-color);
}

.x-content .x-toolbar {
    display: flex;
    align-items: center;
}

.x-content .x-table-container {
    overflow: auto;
    flex: 1;
}

.x-btngroup > * {
    margin-left: 8px;
}