.x-dropdown {
  background-color: var(--x-body-bg);
  padding-top: 0px;
  height: 48px;
  width: fit-content;
  overflow: auto;
}

.x-dropdown-item {
  background-color: var(--x-body-bg);
  left: 50%;
  right: auto;
  transform: translateX(-50%);
  width: max-content;
  border-radius: 0px 0px 16px 16px;
}

.x-dropdown-item:hover {
  cursor: pointer;
}

.fade-enter-active,
.fade-leave-active {
  transition: all .5s ease-out;
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
}