.x-navbar {
    background-color: var(--x-body-bg);
    height: calc(100vh - 48px);
    width: var(--x-navbar-width);
    float: left;
    overflow: auto;
    box-sizing: border-box;
    transition: 0.8s cubic-bezier(.25,.1,.25,1);
}

.x-navbar-item {
    height: 42px;
    line-height: 42px;
    padding: 0px 16px;
    margin: 4px 0px;
    cursor: pointer;
    box-sizing: border-box;
    color: var(--x-body-color);
    display: block;
}

.router-link-exact-active.router-link-active {
    background-color: var(--x-primary);
    color: var(--x-body-bg);
}

.router-link-exact-active.router-link-active:hover {
    background-color: var(--x-success);
    color: var(--x-body-bg);
}

.x-navbar-item:hover {
    background-color: var(--x-secondary);
}

.x-navbar-item.x-selected {
    background-color: var(--x-primary);
    color: var(--x-body-bg);
}

a.x-navbar-item {
    text-decoration: none;
}